.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 24px;
}

.state {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 24px;
}

.state p {
  margin: 0;
}
